<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pearl White</key>
	<dict>
		<key>R</key>
		<string>234</string>
		<key>G</key>
		<string>224</string>
		<key>B</key>
		<string>200</string>
	</dict>
	<key>Silver Metallic</key>
	<dict>
		<key>R</key>
		<string>188</string>
		<key>G</key>
		<string>198</string>
		<key>B</key>
		<string>204</string>
	</dict>
	<key>Monza</key>
	<dict>
		<key>R</key>
		<string>207</string>
		<key>G</key>
		<string>0</string>
		<key>B</key>
		<string>15</string>
	</dict>
	<key>Silver</key>
	<dict>
		<key>R</key>
		<string>191</string>
		<key>G</key>
		<string>191</string>
		<key>B</key>
		<string>191</string>
	</dict>
	<key>Honeydew</key>
	<dict>
		<key>R</key>
		<string>240</string>
		<key>G</key>
		<string>255</string>
		<key>B</key>
		<string>240</string>
	</dict>
	<key>Greenbar</key>
	<dict>
		<key>R</key>
		<string>228</string>
		<key>G</key>
		<string>255</string>
		<key>B</key>
		<string>223</string>
	</dict>
	<key>Gold</key>
	<dict>
		<key>R</key>
		<string>255</string>
		<key>G</key>
		<string>215</string>
		<key>B</key>
		<string>0</string>
	</dict>
	<key>Gold Metallic</key>
	<dict>
		<key>R</key>
		<string>212</string>
		<key>G</key>
		<string>175</string>
		<key>B</key>
		<string>55</string>
	</dict>
	<key>Peru</key>
	<dict>
		<key>R</key>
		<string>205</string>
		<key>G</key>
		<string>133</string>
		<key>B</key>
		<string>63</string>
	</dict>
	<key>Tomato</key>
	<dict>
		<key>R</key>
		<string>255</string>
		<key>G</key>
		<string>99</string>
		<key>B</key>
		<string>71</string>
	</dict>
	<key>Salmon</key>
	<dict>
		<key>R</key>
		<string>250</string>
		<key>G</key>
		<string>128</string>
		<key>B</key>
		<string>114</string>
	</dict>
	<key>Turquoise</key>
	<dict>
		<key>R</key>
		<string>64</string>
		<key>G</key>
		<string>224</string>
		<key>B</key>
		<string>208</string>
	</dict>
	<key>Plum</key>
	<dict>
		<key>R</key>
		<string>221</string>
		<key>G</key>
		<string>160</string>
		<key>B</key>
		<string>221</string>
	</dict>
	<key>Orchid</key>
	<dict>
		<key>R</key>
		<string>218</string>
		<key>G</key>
		<string>112</string>
		<key>B</key>
		<string>214</string>
	</dict>
	<key>Wheat</key>
	<dict>
		<key>R</key>
		<string>245</string>
		<key>G</key>
		<string>222</string>
		<key>B</key>
		<string>179</string>
	</dict>
	<key>Sienna</key>
	<dict>
		<key>R</key>
		<string>160</string>
		<key>G</key>
		<string>82</string>
		<key>B</key>
		<string>45</string>
	</dict>
	<key>Nude</key>
	<dict>
		<key>R</key>
		<string>229</string>
		<key>G</key>
		<string>178</string>
		<key>B</key>
		<string>146</string>
	</dict>
	<key>Candy Apple</key>
	<dict>
		<key>R</key>
		<string>214</string>
		<key>G</key>
		<string>17</string>
		<key>B</key>
		<string>35</string>
	</dict>
	<key>Chrome</key>
	<dict>
		<key>R</key>
		<string>227</string>
		<key>G</key>
		<string>222</string>
		<key>B</key>
		<string>219</string>
	</dict>
	<key>Azure</key>
	<dict>
		<key>R</key>
		<string>240</string>
		<key>G</key>
		<string>255</string>
		<key>B</key>
		<string>255</string>
	</dict>
</dict>
</plist>
